<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<h2 style="margin-left: 20px;color: blueviolet">Movie details</h2>
<body>
<div style="margin-left: 20px;align-content:center;margin-right: 50px">
    <span th:text="|Title: ${movie.title}|">title</span> <br>
    <span th:text="|Year: ${movie.year}|">title</span> <br>
    <span th:text="|Country: ${movie.country}|">title</span> <br>
    <span th:text="|Description: ${movie.description}|">title</span> <br>
</div>

<h2 style="margin-left: 20px;align-content: center;margin-left: 50px">Reviews</h2>
<form style="margin-left: 20px;align-content: center;margin-left: 50px" th:action="@{/reviews}" method="post">
    <label>Rate:
        <input type="number" name="rate">
    </label>
    <label>Description:
        <input type="text" name="text">
    </label>
    <label>
        <input type="number" name="userId" th:value="${user.id}" hidden>
    </label>
    <label>
        <input type="number" name="movieId" th:value="${movie.id}" hidden>
    </label>
    <button type="submit">Add review</button>
</form>
<div style="margin-left: 20px">
    <table>
        <tr>
            <th>Rate</th>
            <th>Text</th>
            <th>User Name</th>
        </tr>
        <tr th:each="review: ${reviews}">
            <td th:text="${review.rate}">text</td>
            <td th:text="${review.text}">text</td>
            <td th:text="${review.user.name}">text</td>

        </tr>
    </table>
</div>
</body>
</html>
