<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
    <div th:insert="~{fragment :: header}"></div>
    <div th:insert="~{fragment :: locale}"></div>
    <h1 th:text="#{movie.filterTitle}">Movie filter</h1>
    <form th:action="@{/movies}" method="get">
        <label><span th:text="#{movie.title}">Title:</span>
            <input type="text" name="title">
        </label>
        <label><span th:text="|#{movie.year}:|">Year:</span>
            <input type="number" name="year">
        </label>
        <label><span th:text="#{movie.country}">Country:</span>
            <input type="text" name="country">
        </label>
        <label><span th:text="#{movie.genre}">Genre:</span>
            <input type="text" name="genre">
        </label> <br>
        <button type="submit" th:text="#{filterButton}">Filter</button>
    </form>

    <div th:each="movie : ${movies}">
        <a th:href="@{'/movies/' + ${movie.id }}" th:text="${movie.title}">Movie</a>
    </div>
</body>
</html>
