<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<h2 style="margin-left: 20px;color: blueviolet">Login</h2>
<body>
    <form action="/login" method="post" style="margin-left: 20px;margin-right: 20px;">
        <label>Name:
            <input id="nameId" type="text" name="username">
        </label> <br>
        <label>Password:
            <input id="passwordId" type="password" name="password">
        </label> <br>
        <button type="submit" style="color: blueviolet">Login</button>
        <a href="/registration">
            <button type="button" style="color: blueviolet">Registration</button>
        </a>
    </form>
</body>
</html>
