<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<h2 style="margin-left: 20px;color: blueviolet">Login</h2>
<body>
    <form action="/login" method="post">
        <label>name:
            <input id="nameId" type="text" name="username">
        </label> <br>
        <label>Password:
            <input id="passwordId" type="password" name="password">
        </label> <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
