<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
<div th:insert="~{fragment :: header}"></div>
<div style="margin-left: 20px;margin-right: 20px;">
    <div th:insert="~{fragment :: locale}"></div>
    <h1 th:text="#{user.filterTitle}" style="color: blueviolet">User filter</h1>
    <form th:action="@{/users}" method="get">
        <label><span th:text="#{user.email}">Email:</span>
            <input type="text" name="email">
        </label>
        <label><span th:text="|#{user.birthday}:|">Birthday:</span>
            <input type="number" name="birthday">
        </label>
        <!--        <label><span th:text="#{person.movie}">Movie:</span>-->
        <!--            <input type="text" name="movie">-->
        <!--        </label> <br>-->
        <button type="submit" th:text="#{filterButton}" style="color: blueviolet">Filter</button>
    </form>

    <div th:each="user : ${users}">
        <a th:href="@{'/users/' + ${user.id }}" th:text="${user.name}">Movie</a>
    </div>
</div>
</body>
</html>
