<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/video_library_2</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
<!--        TODO вспомнить что делают эти две property-->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!--    Какой вариант все-таки предпочтительнее - через hibernate config или класс Configuration?-->
        <mapping class="com.tisv2000.database.entity.Movie"/>
        <mapping class="com.tisv2000.database.entity.MoviePerson"/>
        <mapping class="com.tisv2000.database.entity.Person"/>
        <mapping class="com.tisv2000.database.entity.Review"/>
        <mapping class="com.tisv2000.database.entity.User"/>
    </session-factory>
</hibernate-configuration>
